:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #ff93ac;
    --dark: #333333;
  }

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #ff6289;
    Background: #fff0f3;
}

/* Header */
header {
    padding: 0;
    margin: 0px;
    color: var(--dark);
    background: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Amber Straka */
h1 {
    background-color: var(--tertiary-color);
    padding: 10px 10px 10px 10px;
    vertical-align: center;
}

/* Header Nav */
header nav {
    margin: 7px 0;
    padding: 0 30px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--tertiary-color);
    padding: 0 10px;
}

.hero {
    background-image: url("../images/pinkclouds.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height:250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.hero-subtitle {
    color: var(--dark);
    text-align: right;
    margin: 20px 90px;
    background-color: var(--tertiary-color);
    line-height: 0.2;
    padding: 0 6px 0 6px;
}

/* Content */

.content {
    display: block;
}


/* About Me */

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    padding: 20px;
    margin: 0 20px;

}

.about-me h2 {
    border-right: 3px solid var(--tertiary-color);
    flex: 2;
    margin: 0;
    padding: 20px;
   text-align: right;
   font-size: 50px;
   line-height: 1.1;
    
}

.about-me-info {
    display: flex;
    align-items: center;
}

.about-me img {
    height: 125px;
    flex: 1;
    margin: 0 30px 0 30px; 
}

.about-me-text {
flex: 3;

}

/* Work */
.work {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
}

.work h2 {
    border-right: 3px solid var(--tertiary-color);
    flex: 2;
    margin: 0;
    padding: 10px;
   text-align: right;
   font-size: 50px;
   line-height: 1.1;
}

.run-buddy {
    width: 65%;
    flex: 3;
}


/* Contact Me */

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
}

.contact h2 {
    border-right: 3px solid var(--tertiary-color);
    flex: 1;
    margin: 0;
    padding: 10px;
   text-align: right;
   font-size: 50px;
   line-height: 1.1;
}

.contact a {
    color: var(--tertiary-color);
    flex: 3;
}
